/**
 * -----------------------------------------------------------------------------
 * File: components/spaces
 * -----------------------------------------------------------------------------
 *
 * Helpers for inner and outer spacing
 *
 */

 $step: 5px;

 // Margin
 .mx-auto {
   margin-left: auto;
   margin-right: auto;
 }
 
 @for $i from 1 through 50 {
   .my-#{$i}x { margin: $i * $step 0; }
 }
 
 @for $i from 1 through 50 {
   .mx-#{$i}x { margin: 0 $i * $step; }
 }
 
 @for $i from 1 through 50 {
   .mt-#{$i}x { margin-top: $i * $step; }
 }
 
 @for $i from 1 through 50 {
   .mb-#{$i}x { margin-bottom: $i * $step; }
 }
 
 @for $i from 1 through 50 {
   .ml-#{$i}x { margin-left: $i * $step; }
 }
 
 @for $i from 1 through 50 {
   .mr-#{$i}x { margin-right: $i * $step; }
 }
 
 // Padding
 @for $i from 1 through 50 {
   .py-#{$i}x { padding: $i * $step 0; }
 }
 
 @for $i from 1 through 50 {
   .px-#{$i}x { padding: 0 $i * $step; }
 }
 
 @for $i from 1 through 50 {
   .pt-#{$i}x { padding-top: $i * $step; }
 }
 
 @for $i from 1 through 50 {
   .pb-#{$i}x { padding-bottom: $i * $step; }
 }
 
 @for $i from 1 through 50 {
   .pl-#{$i}x { padding-left: $i * $step; }
 }
 
 @for $i from 1 through 50 {
   .pr-#{$i}x { padding-right: $i * $step; }
 }
 