/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/menu
 * -----------------------------------------------------------------------------
 */

.btn-menu {
  align-items: center;
  color: $color-black;
  display: flex;
  height: 16px;
  left: $space-3x;
  justify-content: center;
  position: fixed;
  top: $space-3x;
  width: 22px;

  @include bp-sm() {
    display: none;
  }

  svg {
    @extend %is-responsive;

    &.burger {
      height: auto;
      width: 20px;
    }

    &.cross {
      display: none;
      height: 18px;
      width: 18px;
    }
  }

  &.is-active {
    svg {
      &.burger {
        display: none;
      }
      &.cross {
        display: block;
      }
    }
  }
}