/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/menu
 * -----------------------------------------------------------------------------
 */

.btn-menu {
  align-items: center;
  color: $color-black;
  display: flex;
  height: 20px;
  left: $space-3x;
  justify-content: center;
  position: fixed;
  top: $space-3x;
  width: 20px;
  z-index: 500;

  @include bp-sm() {
    display: none;
  }

  svg {
    width: 100%;

    &.burger {
      display: block;
      height: auto;
    }

    &.cross {
      display: none;
      height: 18px;
    }

  }

  &.is-active {

    svg {
      &.burger {
        display: none;
      }
      
      &.cross {
        display: block;
      }
    }
  }
}