/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/menu
 * -----------------------------------------------------------------------------
 */

.btn-page {
  @extend %underline;
  color: $color-black;
  @include font-size($fs-menu);
  @include font-medium();
  left: $space-9x;
  position: absolute;
  top: $space-3x;

  @include bp-sm() {
    top: $space-4x;
  }
}
