/**
 * -----------------------------------------------------------------------------
 * File: form/label
 * -----------------------------------------------------------------------------
 */
 
label {
  @include responsive-prop('margin-bottom', $space-xs);
  display: block;

  &.form-control {
    align-items: center;
    background-color: transparent;
    border: 2px solid $color-light-grey;
    border-radius: 2px;
    color: $color-grey;
    cursor: pointer;
    display: flex !important;
    margin-bottom: 0;
    margin-right: 16px;
    justify-content: center;
    padding: 10px 0;
    text-align: center;
    text-transform: none;
    width: 54px;
    @include transition(background-color .1s ease-out);
  }
}

input[type="radio"]:checked + .form-control,
input[type="checkbox"]:checked + .form-control {
  background-color: $color-primary;
  border: 2px solid $color-primary;
  color: $color-white;
}
