/**
 * -----------------------------------------------------------------------------
 * File: form/select
 * -----------------------------------------------------------------------------
 */

.select-wrapper {
  background-color: transparent;
  display: inline-block;
  position: relative;
  width: 100%;

	&:after {
    @include background-default();
    background-image: url($url-icons + 'chevron-down.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px auto;
    background-color: transparent;
    content: '';
    height: 100%;
    right: 0;
    padding: 0 6px;
    position: absolute;
    top: 0;
    width: 32px;
    z-index: 0;
	}

	select {
    background-color: transparent !important;
    display: block;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 8px;
    padding-top: 10px;
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  &.is-sm {
    select {
      border-color: $color-grey;
      padding: 9px 40px 7px 6px;
      width: 100%;
    }
  }

}