/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-black:      #111111;
$color-white:      #ffffff;
$color-primary: $color-black;

// Notifications
$color-danger:  red;
$color-success: green;
$color-info:    yellow;

