/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-black:      #111111;
$color-white:      #ffffff;

// Notifications
$color-danger:  red;
$color-success: green;
$color-info:    yellow;

