/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-black:      #000000;
$color-white:      #ffffff;



// Notifications
$color-danger:  red;
$color-success: green;
$color-info:    yellow;

