/**
 * -----------------------------------------------------------------------------
 * File: config/global
 * -----------------------------------------------------------------------------
 *
 * Global settings and variables
 *
 */
 
/* Box shadows
 * -------------------- */

$box-shadow: 5px 8px 20px 0px rgba(0,0,0,0.45);

/* Default easing
 * -------------------- */

$easing: cubic-bezier(0.980, 0.310, 0.940, 0.840);

/* Urls
 * -------------------- */
 
$url-images: '../img/';
$url-icons:  '../img/icons/';
$url-svg:    '../img/svg/';

/* Breakpoints
 * -------------------- */

$bp-xs:  699.999px;
$bp-sm:  700px;
$bp-md: 1132px;
$bp-lg: 1240px;

$breakpoints: (
  sm: $bp-sm,
);


/* Site header
 * -------------------- */

$site-header-height-xs: 120px;
$site-header-height-sm: 165px;

$full-viewport-height-xs: calc(100vh - #{$site-header-height-xs} - var(--vh-offset, 0px));
$full-viewport-height-sm: calc(100vh - #{$site-header-height-sm} - var(--vh-offset, 0px));

$full-height-xs: calc(100% - #{$site-header-height-xs});
$full-height-sm: calc(100% - #{$site-header-height-sm});
