/**
 * -----------------------------------------------------------------------------
 * File: views/contact
 * -----------------------------------------------------------------------------
 */

section.content-contact {
  color: $color-grey;
  display: flex;
  @include font-size($fs-md);
  @include font-regular();
  flex-direction: column;
  justify-content: space-between;
  min-height: $full-height-xs;

  @include bp-sm() {
    display: block;
    min-height: auto;
  }

  p,
  a {
    color: $color-grey;
  }

  .map {
    margin-bottom: 0 !important;
    min-height: 360px;
    
    .marker {
      background-image: url($url-icons + 'marker.svg');
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      height: 30px;
      width: 30px;
  
      @include bp-md() {
        height: 40px;
        width: 40px;
      }
    }
  }
}