/**
 * -----------------------------------------------------------------------------
 * File: views/project
 * -----------------------------------------------------------------------------
 */

.project-list {
  @include bp-xs() {
    background-color: $color-white;
    height: $full-height-xs;
    padding-right: $space-3x;
    position: absolute !important;
    max-width: 85%;
    z-index: 100;
  }
}

.project-previews {
  @include bp-xs() {
    height: $full-height-xs;
    position: absolute !important;
    width: 100%;
  }
}