/**
 * -----------------------------------------------------------------------------
 * File: app
 * -----------------------------------------------------------------------------
 */

// Settings
@import 'config/colors';
@import 'config/global';


// Helpers 
@import 'helpers/normalize';
@import 'helpers/mixins';
@import 'helpers/mediaqueries';
@import 'helpers/flexbox';
@import 'helpers/functions';
@import 'helpers/spaces';
@import 'helpers/utilities';


// Typo
@import 'typo/webfonts';
@import 'typo/mixins';
@import 'typo/sizes';
@import 'typo/helpers'; 


// Components
@import 'components/anchors';
@import 'components/alerts';
@import 'components/blocks';
@import 'components/boxes/global';
@import 'components/boxes/ratio';
@import 'components/buttons/global';
@import 'components/buttons/menu';
@import 'components/buttons/project';
@import 'components/cards';
@import 'components/icons/global';
@import 'components/headings/global';
@import 'components/headings/h1';
@import 'components/headings/h2';
@import 'components/headings/h3';
@import 'components/lists';
@import 'components/logo';
@import 'components/hr';
@import 'components/images';

// Forms
@import 'form/global';
@import 'form/checkbox';
@import 'form/input';
@import 'form/label';
@import 'form/layout';
@import 'form/placeholder';
@import 'form/select';
@import 'form/validation';

// Layout
@import 'layout/base';
@import 'layout/header';
@import 'layout/grid';
@import 'layout/main';
@import 'layout/section';
@import 'layout/article';

// Menu
@import 'menu/global';
@import 'menu/site';
@import 'menu/content';
@import 'menu/page';
@import 'menu/projects';

// Views
@import 'views/auth';
@import 'views/contact';
@import 'views/office';
@import 'views/project';