/**
 * -----------------------------------------------------------------------------
 * File: components/typo/mixins
 * -----------------------------------------------------------------------------
 *
 * Mixins for typography
 *
 */
 
/**
 * Font smoothing
 * -----------------------------------------------------------------------------
 *
 */

@mixin font-smoothing() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 	
}

@mixin font-regular() {
  font-family: 'Akzidenz-Grotesk-Regular', Helvetica, Arial, sans-serif;
  font-display: auto;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
}

@mixin font-medium() {
  font-family: 'Akzidenz-Grotesk-Medium', Helvetica, Arial, sans-serif;
  font-display: auto;
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
}

@mixin font-bold() {
  font-family: 'Akzidenz-Grotesk-Bold', Helvetica, Arial, sans-serif;
  font-display: auto;
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
}

@mixin font-mono-bold() {
  font-family: 'SF Mono Bold', monospace;
  font-display: auto;
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
}

@mixin font-mono-regular() {
  font-family: 'SF Mono Regular', monospace;
  font-display: auto;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
}


/**
 * Font: mono
 * -----------------------------------------------------------------------------
 * 
 */
 
 @mixin font-mono() {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-display: auto;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
}


/**
 * Define the font size
 * -----------------------------------------------------------------------------
 * 
 *
 */
 
@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      @include make-font-size($fs-font-size);
    }
    @else {
      // If $fs-font-size is a key that exists in
      // $fs-breakpoints, use the value
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media screen and (min-width: $fs-breakpoint) {
        @include make-font-size($fs-font-size);
      }
    }
  }
}

// Utility function for mixin font-size
@mixin make-font-size($fs-font-size) {
  // If $fs-font-size is a list, include
  // both font-size and line-height
  @if type-of($fs-font-size) == "list" {
    font-size: nth($fs-font-size, 1);
    @if (length($fs-font-size) > 1) {
      line-height: nth($fs-font-size, 2);
    }
  }
  @else {
    font-size: $fs-font-size;
  }
}