/**
 * -----------------------------------------------------------------------------
 * File: typo/sizes
 * -----------------------------------------------------------------------------
 *
 */

$fs-xxs: (
  null: (10px,1.25),
  sm:   (10px,1.25),
  md:   (11px,1.25),
  lg:   (11px,1.25),
);

$fs-xs: (
  null: (13px,1.25),
  sm:   (13px,1.25),
  md:   (15px,1.25),
  lg:   (15px,1.25),
);

$fs-sm: (
  null: (15px,1.25),
  sm:   (15px,1.25),
  md:   (17px,1.25),
  lg:   (17px,1.25),
);

$fs-md: (
  null: (18px,1.25),
  sm:   (18px,1.25),
  md:   (20px,1.25),
  lg:   (20px,1.25),
);

$fs-lg: (
  null: (18px,1.25),
  sm:   (18px,1.25),
  md:   (22px,1.25),
  lg:   (22px,1.25),
);

// Auth / Buttons
$fs-btn: (
  null: (14px,1.23),
  sm:   (14px,1.23),
  md:   (15px,1.23),
  lg:   (15px,1.23),
);