/**
 * -----------------------------------------------------------------------------
 * File: theme/brand
 * -----------------------------------------------------------------------------
 *
 */

.brand {
  color: $color-primary;

  svg {
    display: block;
    height: 20px;
    width: auto;

    @include bp-md() {
      height: 30px;
    }
  }
}