/**
 * -----------------------------------------------------------------------------
 * File: theme/brand
 * -----------------------------------------------------------------------------
 *
 */

.brand {
  color: $color-primary;

  svg {
    display: block;
    height: 50px;
    width: auto;
  }
}