/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/content
 * -----------------------------------------------------------------------------
 */


nav.content {
  color: $color-grey;
  @include font-regular();
  line-height: 1.3;

  li {
    display: block;
    margin-bottom: 0;
    width: auto;

    &.is-hidden {
      display: none;
    }
  }

  a {
    color: $color-grey;
    @include font-regular();
    display: inline-block;
    padding-bottom: $space-3x;
    width: auto;
  }

  &.content--team {

    li {
      margin-bottom: $space-5x;

      &:last-of-type {
        margin-bottom: 0;
      }

      &.is-postum {
        margin-bottom: $space-10x;
      }
    }

    a {
      @extend %underline;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
