/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/content
 * -----------------------------------------------------------------------------
 */


nav.content {
  color: $color-grey;
  @include font-regular();
  line-height: 1.3;

  li {
    display: block;
    margin-bottom: 0;
    width: auto;

    &.is-hidden {
      display: none;
    }
  }

  a {
    color: $color-grey;
    @include font-regular();
    display: inline-block;
    padding-bottom: $space-3x;
    width: auto;
  }
}
