/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/global
 * -----------------------------------------------------------------------------
 */

nav {
  @include font-size($fs-menu);
  @include font-medium();

  li {
    display: block;
  }

  a {
    color: $color-black;
    display: block;
    text-decoration: none;

    &.is-active,
    &:hover {
      text-decoration: underline;
      text-underline-offset: 2px;
      text-decoration-thickness: 1px;
    }
  }
}