/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/page
 * -----------------------------------------------------------------------------
 */

nav.page {
  margin-bottom: $space-3x;
  
  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    margin-bottom: $space-2x;
    margin-right: $space-3x;

    @include bp-sm() {
      margin-right: $space-4x;
    }
  }
}