/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/site
 * -----------------------------------------------------------------------------
 */

nav.site {
  @include font-size($fs-menu);
  @include font-medium();
  width: 100%;

  @include bp-xs() {
    background-color: $color-white;
    height: calc(100% - #{$site-header-height-xs});
    left: 0;
    pointer-events: none;
    position: fixed;
    top: $site-header-height-xs;
    transform: translateX(-100%);
    transition: transform 0s ease-in;
    max-width: 90%;

    &.is-visible {
      pointer-events: all;
      transform: translateX(0);
      transition: transform .12s ease-in;

      ul {
        opacity: 1;
        transition: opacity .12s .24s ease-in;
      }
    }

    ul {
      opacity: 0;
      padding-left: $space-3x;
      transition: opacity 0 ease-in;
    }
  
    li {
      display: block;
      margin-bottom: $space-5x;
    }

  }

  @include bp-sm() {
    order: 1;

    ul {
      display: flex;
    }

    li {
      margin-right: $space-4x;
    }
  }

  a {
    text-decoration: none;

    &.is-active,
    &:hover {
      text-decoration: underline;
      text-underline-offset: 2px;
      text-decoration-thickness: 1px;
    }
  }
  
}