/**
 * -----------------------------------------------------------------------------
 * File: layout/header
 * -----------------------------------------------------------------------------
 */

header.site-header {
  background-color: $color-white;
  height: $site-header-height-xs;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  
  @include bp-sm() {
    height: $site-header-height-sm;
  }
  
  > div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: flex-start;
    padding: $space-2x;
    padding-bottom: $space-1x;

    @include bp-sm() {
      padding: $space-3x;
      padding-bottom: $space-2x;
    }
  }

  &.site-header--project {
    > div {
      justify-content: flex-end;
    }
  }
}