/**
 * -----------------------------------------------------------------------------
 * File: layout/header
 * -----------------------------------------------------------------------------
 */

header.site-header {
  background-color: $color-white;
  height: $site-header-height-xs;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  
  @include bp-sm() {
    height: $site-header-height-sm;
  }
  
  > div {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: center;

    @include bp-sm() {
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      padding: $space-3x;
    }
  }
}