/**
 * -----------------------------------------------------------------------------
 * File: layout/main
 * -----------------------------------------------------------------------------
 */

main.site {
  padding: $site-header-height-xs $space-2x 0 $space-2x;

  @include bp-sm() {
    padding: $site-header-height-sm $space-3x 0 $space-3x;
  }

  &.site--auth {
    padding-top: 0 !important;
  }
}
