/**
 * -----------------------------------------------------------------------------
 * File: layout/section
 * -----------------------------------------------------------------------------
 */

section.content {
  
}
