/**
 * -----------------------------------------------------------------------------
 * File: config/spaces
 * -----------------------------------------------------------------------------
 */

$space-xxs: (
  null:  8px,
  sm:    8px,
  md:    10px,
  lg:    10px,
);

$space-xs: (
  null:  10px,
  sm:    10px,
  md:    15px,
  lg:    15px,
);

$space-sm: (
  null:  15px,
  sm:    15px,
  md:    20px,
  lg:    25px,
);

$space-md: (
  null:  20px,
  sm:    25px,
  md:    30px,
  lg:    35px,
);

$space-lg: (
  null:  30px,
  sm:    40px,
  md:    50px,
  lg:    60px,
);

$space-xl: (
  null:  40px,
  sm:    60px,
  md:    80px,
  lg:    100px,
);

$space-tiny: 2px;
$space-1x:   4px;
$space-2x:   8px;
$space-3x:  12px;
$space-4x:  16px;
$space-5x:  20px;
$space-6x:  24px;
$space-7x:  28px;
$space-8x:  32px;
$space-9x:  36px;
$space-10x: 40px;
$space-11x: 44px;
$space-12x: 48px;
$space-13x: 52px;
$space-14x: 56px;
$space-15x: 60px;
$space-16x: 64px;
$space-17x: 68px;
$space-18x: 72px;
$space-19x: 76px;
$space-20x: 80px;
$space-21x: 84px;
$space-22x: 88px;
$space-23x: 92px;
$space-24x: 96px;
$space-25x: 100px;