/**
 * -----------------------------------------------------------------------------
 * File: typo/sizes
 * -----------------------------------------------------------------------------
 *
 */

$fs-xs: (
  null: (12px,1.16),
  sm:   (12px,1.16),
  md:   (12px,1.16),
  lg:   (12px,1.16),
);

$fs-sm: (
  null: (14px,1.33),
  sm:   (14px,1.33),
  md:   (16px,1.33),
  lg:   (16px,1.33),
);

$fs-md: (
  null: (18px,1.22),
  sm:   (18px,1.22),
  md:   (20px,1.22),
  lg:   (20px,1.22),
);

$fs-lg: (
  null: (32px,1.16),
  sm:   (32px,1.16),
  md:   (32px,1.16),
  lg:   (42px,1.16),
);
