/**
 * -----------------------------------------------------------------------------
 * File: typo/sizes
 * -----------------------------------------------------------------------------
 *
 */

$fs-xs: (
  null: (12px,1.16),
  sm:   (12px,1.16),
);

$fs-sm: (
  null: (14px,1.33),
  sm:   (16px,1.33),
);

$fs-md: (
  null: (16px,1.4),
  sm:   (18px,1.4),
);

$fs-lg: (
  null: (17px,1.4),
  sm:   (20px,1.4),
);


$fs-menu: (
  null: (17px,1),
  sm:   (20px,1),
);