/**
 * -----------------------------------------------------------------------------
 * File: components/images
 * -----------------------------------------------------------------------------
 *
 * Various classes for image elements
 */

%is-responsive,
.is-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

%is-overlay,
.is-overlay {
  height: 100%;
  position: absolute;
  opacity: 1;
  width: 100%;
  transition: opacity .08s ease-in;

  &.is-hidden {
    opacity: 0;
    transition: opacity 0s ease-in;
  }
}