/**
 * -----------------------------------------------------------------------------
 * File: components/logo
 * -----------------------------------------------------------------------------
 */

.logo {
  color: $color-primary;
  
  svg {
    display: block;
    height: auto;
    width: 100%;
  }
}
