/**
 * -----------------------------------------------------------------------------
 * File: components/logo
 * -----------------------------------------------------------------------------
 */

.logo {
  color: $color-black;
  display: block;
  max-width: 275px;
  left: 50%;
  position: absolute;
  top: 50%;
  text-decoration: none;
  transform: translate(-50%, -50%);
  width: 100%;

  @include bp-sm() {
    max-width: 560px;
  }

  svg {
    display: block;
    height: auto;
    width: 100%;
  }

  &.logo--projects,
  &.logo--project {
    @include bp-xs() {
      color: $color-grey-light;
    }
  }

  &.logo--project {
    @include bp-sm {
      max-width: 360px;
      top: 18px;
      transform: translate(-50%, 0);
    }
  }
}
