/**
 * -----------------------------------------------------------------------------
 * File: components/map
 * -----------------------------------------------------------------------------
 */

.map {
  margin-bottom: 0 !important;
  margin-top: $space-8x;
  min-height: 300px;

  @include bp-sm() {
    margin-top: 0;
  }
  
  .marker {
    background-image: url($url-icons + 'marker.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 15px;
    width: 15px;

    @include bp-sm() {
      height: 20px;
      width: 20px;
    }
  }
}