/**
 * -----------------------------------------------------------------------------
 * File: modules/homepage
 * -----------------------------------------------------------------------------
 */


.btn-add,
.btn-edit,
.btn-delete,
.btn-select {
  @extend %btn-primary;
  padding: 10px 15px;
  line-height: 1 !important;
  transition: background-color .12s ease-in-out;
}

.btn-add {
  background-color: $color-green;
}

.btn-edit,
.btn-delete {
  background-color: $color-dark-grey;
}

.btn-select {
  background-color: $color-green;
}

.btn-close {
  color: $color-primary;
  display: block;
  height: 20px;
  right: $space-3x;
  position: absolute;
  top: $space-2x;
  width: 20px;
}
