/**
 * -----------------------------------------------------------------------------
 * File: modules/homepage
 * -----------------------------------------------------------------------------
 */


.btn-add,
.btn-edit,
.btn-delete {
  @extend %btn-primary;
  @include font-size($fs-sm);
  padding: 10px 15px;
  line-height: 1 !important;
}

.btn-add {
  background-color: $color-dark;
}

.btn-edit,
.btn-delete {
  background-color: $color-dark-grey;
}
