/**
 * -----------------------------------------------------------------------------
 * File: components/animations
 * -----------------------------------------------------------------------------
 */

@keyframes loadingBtn {
  from {
    width: 0; 
  }
  to {
    width: 100%;
  }
}

@keyframes loadingIcon {
  0% {
    opacity: 1;
    transform: rotate(0);
  }
  50% {
    opacity: .3;
    transform: rotate(180deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

// .fade-out {
//   visibility: hidden;
//   opacity: 0;
//   transition: visibility 0s .16s, opacity .16s linear;  
// }

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}