/**
 * -----------------------------------------------------------------------------
 * File: components/chip
 * -----------------------------------------------------------------------------
 *
 */

.chip {
  @extend %flex;
  @extend %items-center;
  @extend %justify-center;
  @extend %mx-1x;
  @extend %px-1x;
  @extend %py-1x;
  border-radius: 2px;
  background-color: $color-blue;
  color: $color-white;
  @include font-mono-regular();
  font-size: 12px !important;
  line-height: 1 !important;
}